conda create -n ml-zoomcamp python=3.11
pip install numpy pandas scikit-learn seaborn jupyter matplotlib
pip install uv
# create an empty project---> uv init
uv pip install Scikit-Learn==1.6.1 pandas
uc add Scikit-Learn==1.6.1
#uv lock

pip install fastapi uvicorn

# my own refeerence
pip install fastapi uvicorn
pip install XGBoost

def webservice and create endpoint
use to call webservice in terminal(in windows):  'curl http://localhost:9696/ping'
also open in browser and open the link
(OR)
invoke-webrequest -uri http://localhost:9696/ping




pip install requests (for sending /receiveing request in webservice)

FASTAPI
uv =>replacement for venv pipenv poetry

pip install uv
uv init (created empty projectin the folder)
uv add scikit-learn fastapi 

uv add --dev requests

uv run uvicorn predict:app --host 0.0.0.0 --port 9696 --reload


to run the python file after web server is started
uv run python marketing.py.0

to specify the datatype of the input_data we need include
from typing import Dict, Any

Docker
======
docker run hello-world
Create a file Dockerfile
-----------
FROM python:3.12.1-slim-bookworm

RUN pip install uv

WORKDIR /app
COPY ".python-version" "pyproject.toml"
" "un.lock","./"

RUN uv sync --locked (changed -->check file)

COPY "predict.py" "model.bin" "./"

EXPOSE 9696

ENTRYPOINT ["uvicorn", "predict:app", "--host", "0.0.0.0"
----------------------
>docker build -t churn-prediction . (. means current directory)
docker run -it --rm -p 9696:9696 churn-prediciton
( -it -->interactive mode like pressing ctrl+c will stop the server)
(--rm ---> remove it from the system)
(-p port mapping)


